<div class="bg-success text-white small py-2">
  <div class="container d-flex flex-column flex-md-row justify-content-between gap-2">
    <span data-cms-text="branding.Description">Protecting and caring for the campus cat colony.</span>
    <span>
      Email: <span data-cms-text="contact.Email">example@email.com</span>
      <span class="mx-2">|</span>
      <a class="link-light" href="#" data-cms-href="contact.InstagramURL" data-cms-text="contact.InstagramURL">Instagram</a>
    </span>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container">
    <a class="navbar-brand fw-bold" href="index.html" data-cms-text="branding.Title">Cat Colony Care Society</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="mainNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html" data-nav-link>Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html" data-nav-link>About</a></li>
        <li class="nav-item"><a class="nav-link" href="campus-cats.html" data-nav-link>Campus Cats</a></li>
        <li class="nav-item"><a class="nav-link" href="events.html" data-nav-link>Events</a></li>
        <li class="nav-item"><a class="nav-link" href="gallery.html" data-nav-link>Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html" data-nav-link>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
